<h1>Editing gestante</h1>

<%= render 'form' %>
</div>
<div class="span2">
<%= link_to 'Exibir', @gestante, :class=>"btn btn-primary" %> | 
<%= link_to 'Voltar', gestantes_path, :class=>"btn btn-primary" %>
</div>

</div>