<p>Olá <%= @resource.email %>!</p>

<p>Alguém pediu um link para alterar a sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), :class => 'btn btn-primary' %></p>

<p>Se você não pediu isso, por favor, ignore este e-mail .</p>
<p>Sua senha não vai mudar até que você acesse o link acima e crie sua senha.</p>
