<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @grupo_comunitario.nome %>
</p>

<%= link_to 'Edit', edit_grupo_comunitario_path(@grupo_comunitario) %> |
<%= link_to 'Back', grupo_comunitarios_path %>
